<svg width="640" height="180" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->

  <g>
  <title>Layer 1</title>
  <g id="tablasvg" onclick="agregatabla()">
   <rect ry="13" rx="13" height="42.5" width="39.5" y="14.13891" x="8.38891" stroke-width="3" fill="#ededed" stroke="#7f7f7f" id="svg_13"/>
   <rect height="15.50003" width="42.50001" y="7.47223" x="6.8889" stroke-width="3" fill="#a4eff2" stroke="#4caaa4" id="svg_14"/>
   <text fill="#06005b" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="112.60832" y="-213.33262" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" transform="matrix(0.322434732934282,0,0,0.25696276490276293,-8.758733751680602,71.90310796662759) " stroke="#000000" font-weight="bold" id="svg_15">ENTIDAD</text>
   <text fill="none" stroke-width="0" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" x="115.70972" y="29.89328" font-size="24" font-family="Sans-serif" text-anchor="middle" xml:space="preserve" transform="matrix(0.322434732934282,0,0,0.25696276490276293,-8.758733751680602,71.90310796662759) " stroke="#7f7f7f" font-weight="bold" id="svg_18">ENTIDAD</text>
  </g>
  <g id="unomuchos" onclick="unomuchos()">
   <line id="svg_1" y2="99.44446" x2="49.16669" y1="99.44446" x1="11.66669" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="3" stroke="#7f7f7f" fill="none"/>
   <line id="svg_2" y2="88.44446" x2="47.66669" y1="98.44446" x1="35.66669" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="3" stroke="#7f7f7f" fill="none"/>
   <line id="svg_3" y2="98.44446" x2="34.16669" y1="111.44446" x1="47.16669" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="3" stroke="#7f7f7f" fill="none"/>
  </g>
  
  <g id="unomuchos" onclick="unouno()">    
	<line stroke="#7f7f7f" id="svg_4" y2="150.44446" x2="48.66669" y1="150.44446" x1="10.66669" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="3" fill="none"/>
  </g>
 </g>
</svg>